<div *ngIf="isVisible && !!p" class="full pop-up-wrap">
  <div [style.opacity]="isOpened ? 1 : 0" class="full overlay"></div>
  <div class="a-c pop-up" [ngClass]="getPopUpClass()">
    <div class="p-inner full">

      <div class="p-header flex-center flex-between">
        <h3 class="h" [innerText]="p.name"></h3>
        <svg class="p-cross" icon="cross" (click)="close()"></svg>
      </div>

      <div class="pop-body">
        <h4 class="p-body-header">В программу включено:</h4>
        <div *ngFor="let l of p.includes">
          <p class="label text-lg" *ngIf="l.label" [innerHTML]="l.label"></p>
          <div *ngFor="let i of l.includes">
            <div class="flex" [ngClass]="i.startsWith('Посещение') ? 'secondary' : ''">
              <div class="ind" [innerText]="i.startsWith('Посещение') ? '*' : '-'"></div>
              <p [innerHTML]="i"></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

