table {
  width: 100%;
}
.content-w {
  padding: 8rem 0;
}
.service td {
  padding: 1.3rem 0;
}

.price-cell {
  text-align: right;
  white-space: nowrap;
  padding-left: 2rem;
}


::ng-deep header {
  transform: none;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  color: #616469c4;
}

.warning {
  font-size: 1.7rem;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: #f7d18961;
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
}

.warning svg {
  width: 2rem;
  height: 2rem;
  margin-right: 1.7rem;
  color: #d37b2a;
}

