<section class="content-w" id="Цены">
  <div class="content">

    <h2 class="h sect-h">Цены</h2>
    <div>Цены актуальны на {{ getActualDate() }}</div>


    <div *ngIf="!isChangeDatePassed && !showNew" class="warning">
      <div><svg icon="warn"></svg></div>
      <div><p>Внимание! С {{ getChangeDate() }} будет повышение цен. <span class="link" (click)="viewNew()">Посмотреть обновленные</span></p></div>
    </div>

    <div *ngIf="!isChangeDatePassed && showNew">
      <p class="link" (click)="viewOld()">Посмотреть старые цены</p>
    </div>

    <div class="sect-cont">

      <table>
        <tr *ngFor="let p of priceList">
          <td>

            <table>
              <thead>
              <td>
                <h3 [innerText]="p.group"></h3>
              </td>
              </thead>
              <tbody>
              <tr class="service" *ngFor="let i of p.items">
                <td [innerText]="i.name"></td>
                <td class="price-cell">{{i.price}} <span>BYN</span></td>
              </tr>
              </tbody>

            </table>
          </td>
        </tr>
      </table>

    </div>

  </div>
</section>
