table {
  width: 100%;
}
.content-w {
  padding: 8rem 0;
}
.service td {
  padding: 1.3rem 0;
}

.price-cell {
  text-align: right;
  white-space: nowrap;
  padding-left: 2rem!important;
}


::ng-deep header {
  transform: none;
}
