.pop-up {
  width: min(calc(100vw - 4rem), max(35rem, 33vw));
  max-width: 40rem;
}

iframe {
  height: 10rem;
  border-radius: 1rem;
  transition: height .2s, opacity .4s;
}


@media screen and (max-width: 600px) {
  .pop-up, iframe {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .pop-up.collapsed {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    opacity: 1;
  }
  iframe {
    height: 100%!important;
  }
}
