<label class="w-full input" [ngClass]="disabled?'disabled':''" (click)="handleClick($event)">


<!--  (mousedown)="handleTouch($event)"-->
<!--  (touchstart)="handleTouch($event)"-->
  <input #el [id]="id||label"
         [ngClass]="error?'err':''"
         [attr.val]="valueObject.display"
         type="text"
         [disabled]="disabled"
         [required]="required"
         (blur)="handleBlur()"
         (keydown.enter)="handleEnter($event)"
         [value]="valueObject.display"
         autocomplete="off"
         aria-autocomplete="none"
         (focus)="handleFocus()"
         (input)="handleChange($event, 'input')"
  >
  <span class="w-full" [innerText]="required?label+'*':label"></span>

  <div *ngIf="showDataList" class="select-overlay" (mousedown)="hideOptions()"></div>

  <div #datalist class="datalist" *ngIf="showDataList" [style.width]="this.width" [style.max-height]="maxHeightStyle">
    <div class="datalist-option flex-center" *ngFor="let o of _dataList" (click)="select(o, $event)" [ngClass]="o.toSelect === valueObject.display ? 'selected' : ''">
      <avatar *ngIf="withPhotos" [data]="o.entity" [size]="3.5"></avatar>
      <div>
        <div class="display text-ellipsis whitespace-nowrap overflow-hidden" [innerText]="o.display"></div>
        <div class="text-sm label" *ngIf="!!o.label" [innerText]="o.label"></div>
      </div>
    </div>
  </div>
</label>
