<ng-template #header class="content">
  <div class="content flex-between flex-center">
    <div class="flex-center">
      <img class="icon-main" ngSrc="/assets/logo/no_txt.svg" alt="logo" height="16" width="18">
      <svg id="logo-t" icon="txt"></svg>
    </div>
    <div *ngIf="!isMobile" class="flex-center justify-center">
      <a class="nav-link" *ngFor="let m of menu" [href]="'#' + m" [innerText]="m"></a>
    </div>
    <div class="header-right">
      <div class="header-item call-btn" (click)="">
        <div class="a-c">
          <svg icon="phone"></svg>
        </div>
      </div>
      <div *ngIf="isMobile" class="header-item menu-btn h">МЕНЮ</div>
    </div>
  </div>
</ng-template>

<header class="content-w" [ngClass]="{visible: isHeaderVisible, end: touchedFooter}">
  <ng-container [ngTemplateOutlet]="header"></ng-container>
</header>

<section class="s0">
  <div id="back0" class="back">
    <img src="assets/wave.svg" class="wave" alt="">
  </div>
  <div class="content-w inner-h">
    <ng-container [ngTemplateOutlet]="header"></ng-container>
  </div>
  <div class="content-w">
    <div class="content">
      <div class="welcome">
        <div class="welcome_left">
          <h1 class="h">Центр современной<br>педиатрии</h1>
          <p class="t-b">Медицинский центр для детей и взрослых в Минске</p>
          <button class="action-btn" (click)="eventsService.requestEvent()">
            <svg icon="calendar"></svg>
            <div>ЗАПИСАТСЯ НА ПРИЁМ</div>
          </button>
        </div>
        <div class="welcome_right">
          <div id="baby" class="baby-wrapper">
            <svg class="a-c" icon="blob"></svg>
            <div class="baby"></div>
            <div class="tooltip t1"></div>
            <div class="tooltip t2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- services -->
<section class="content-w s1" id="Услуги">
  <div class="content">

    <h2 class="h sect-h">Наши услуги</h2>
    <div class="sect-cont">

      <div [id]="'service_' + s.name" *ngFor="let s of services" class="serv" [ngClass]="{opened: s.isOpened}">
        <div class="s-wrap">
          <div class="s-head" (click)="toggleService(s)">
            <h3 class="s-name" [innerText]="s.name"></h3>
            <div class="s-toggle">
              <svg class="a-c" icon="arrow"></svg>
            </div>
          </div>
          <div class="s-body" *ngIf="s.isOpened">
            <p class="s-description" [innerHTML]="s.label"></p>
            <div *ngFor="let i of s.includes" class="s-includes">
              <div class="prefix">-</div>
              <div [innerText]="i"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<!-- programs -->
<section class="content-w s2" id="Программы">
  <div class="content">

    <h2 class="h sect-h">Годовые программы</h2>
    <div class="sect-cont">

      <div *ngFor="let p of programs" class="prog">
        <div class="p-head">
          <h3 class="h p-name" [innerText]="p.name"></h3>
          <div class="p-info">

            <div class="p-price">
              <div class="price-l">стоимость</div>
              <div class="price" [innerText]="p.minPrice"></div>
              <div *ngIf="p.payOptions" class="pay-opts" [innerText]="p.payOptions"></div>
            </div>

            <div class="p-icon">
              <svg class="a-c" [icon]="p.icon"></svg>
            </div>
          </div>

        </div>
        <div class="p-body">
          <div class="p-body-header">В программу включено:</div>
          <div *ngFor="let b of p.main" class="p-main">
            <img ngSrc="assets/plus.svg" class="p-plus" alt="" height="20" width="20">
            <p class="p-includes" [innerHTML]="b"></p>
          </div>
        </div>
        <div class="p-button-w">
          <button class="action-btn">ПОДРОБНЕЕ</button>
        </div>
      </div>

    </div>

  </div>
</section>

<section class="content-w s3" id="Специалисты">
  <div class="content">

    <h2 class="h sect-h">Наши специалисты</h2>
    <div class="sect-cont">
      <app-doctor *ngFor="let d of doctors" [d]="d"></app-doctor>
    </div>
  </div>
</section>

<!-- advantages -->
<section class="content-w s4" id="Наши преимущества">
  <div class="content">

    <div class="advantages">
      <div class="adv-content">
        <h3 class="h sect-h">НАШИ ПРЕИМУЩЕСТВА</h3>
        <div class="adv-list">
          <div *ngFor="let adv of advantages" class="adv-wrap">
            <div class="adv-icon">
              <img class="a-c" [src]="'/assets/advantages/' + adv.icon" alt="">
            </div>
            <div>
              <h4 class="adv-h" [innerText]="adv.name"></h4>
              <p class="adv-txt" [innerText]="adv.description"></p>
            </div>
          </div>
        </div>
        <button class="action-btn">
          <svg icon="calendar"></svg>
          <div>ЗАПИСАТСЯ НА ПРИЁМ</div>
        </button>
      </div>
      <div class="adv-image"></div>
    </div>

  </div>
</section>

<!-- instagram -->
<section class="content-w s5"></section>

<footer [ngClass]="{end: touchedFooter}" id="Контакты">
  <div class="footer1 content-w">
    <div class="content">
      <div class="flex-between">
        <div class="fb1 f-block">
          <h3>Контакты</h3>
          <p class="flex-center">
            <svg icon="mail"></svg>
            <a href="mailto:care@pediatrics.by" target="_blank">care@pediatrics.by</a>
          </p>
          <p class="flex-center">
            <svg icon="phone">></svg>
            <a href="tel:+375293795050" target="_blank">+375 (29) 379-50-50</a>
          </p>
          <p class="flex-center">
            <svg icon="phone"></svg>
            <a href="tel:+375333795050" target="_blank">+375 (33) 379-50-50</a>
          </p>
          <p class="flex-center">
            <svg icon="phone"></svg>
            <a href="tel:+375173795050" target="_blank">+375 (17) 379-50-50</a>
          </p>
        </div>
        <div class="fb2 f-block">
          <h3>Режим работы</h3>
          <p class="flex-center">
            <svg icon="clock"></svg>
            <span>пн - пт 09:00 — 21:00</span>
          </p>
          <p class="flex-center">
            <svg icon="clock-15"></svg>
            <span>сб, вс 09:00 — 15:00</span>
          </p>
          <div class="br"></div>
          <p class="flex-center">
            <svg icon="map"></svg>
            <span>г. Минск, ул. Червякова 55 <br>(вход с улицы Урожайная)</span>
          </p>
        </div>
        <div class="fb3 f-block">
          <div class="map">
            <a href="https://yandex.by/maps/org/tsentr_sovremennoy_pediatrii/212895119324/?utm_medium=mapframe&amp;utm_source=maps" style="display:none;visibility:hidden;">Центр Современной Педиатрии</a>
            <a href="https://yandex.by/maps/157/minsk/category/medical_center_clinic/184106108/?utm_medium=mapframe&amp;utm_source=maps" style="display:none;visibility:hidden;">Медцентр, клиника в Минске</a>
            <iframe loading="lazy" src="https://yandex.by/map-widget/v1/-/CCUqEIWV0C" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer2 content-w">
    <div class="content flex-center flex-between">
      <div>
        <img class="icon-main" ngSrc="assets/logo/green.svg" alt="logo" height="16" width="18">
      </div>
      <div>
        <p class="comp-name">© 2020, Минск, Центр Современной Педиатрии</p>
        <div class="flex-center">
          <p>Лицензия</p><div class="sep"> | </div><p>Публичный договор</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<app-event-create></app-event-create>
<app-phone></app-phone>
