<div class="sect s0">
  <div id="back0" class="back">
    <img src="assets/wave.svg" class="wave" alt="">
  </div>
  <div class="content-w">
    <div class="content">
      <div class="header"></div>
      <div class="welcome">
        <div class="welcome_left">
          <h1 class="h">Центр современной<br>педиатрии</h1>
          <p class="t-b">Медицинский центр для детей и взрослых в Минске</p>
          <button class="action-btn">
            <svg><use xlink:href="#calendar"></use></svg>
            <div>ЗАПИСАТСЯ НА ПРИЁМ</div>
          </button>
        </div>
        <div class="welcome_right">
          <div id="baby" class="baby-wrapper">
            <svg class="a-c"><use xlink:href="#blob"></use></svg>
            <div class="baby"></div>
            <div class="tooltip t1"></div>
            <div class="tooltip t2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- services -->
<div class="content-w sect s1">
  <div class="content">

    <h2 class="h sect-h">Наши услуги</h2>
    <div class="sect-cont">

      <div [id]="'service_' + s.name" *ngFor="let s of services" class="serv" [ngClass]="{opened: s.isOpened}">
        <div class="s-wrap">
          <div class="s-head" (click)="toggleService(s)">
            <h3 class="s-name" [innerText]="s.name"></h3>
            <div class="s-toggle">
              <svg class="a-c"><use xlink:href="#arrow"></use></svg>
            </div>
          </div>
          <div class="s-body" *ngIf="s.isOpened">
            <p class="s-description" [innerHTML]="s.label"></p>
            <div *ngFor="let i of s.includes" class="s-includes">
              <div class="prefix">-</div>
              <div [innerText]="i"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- programs -->
<div class="content-w sect s2">
  <div class="content">

    <h2 class="h sect-h">Годовые программы</h2>
    <div class="sect-cont">

      <div *ngFor="let p of programs" class="prog">
        <div class="p-head">
          <h3 class="h p-name" [innerText]="p.name"></h3>
          <div class="p-info">

            <div class="p-price">
              <div class="price-l">стоимость</div>
              <div class="price" [innerText]="p.minPrice"></div>
              <div *ngIf="p.payOptions" class="pay-opts" [innerText]="p.payOptions"></div>
            </div>

            <div class="p-icon">
              <svg class="a-c"><use [attr.xlink:href]=p.icon></use></svg>
            </div>
          </div>

        </div>
        <div class="p-body">
          <div class="p-body-header">В программу включено:</div>
          <div *ngFor="let b of p.main" class="p-main">
            <img src="assets/plus.svg" class="p-plus" alt="">
            <p class="p-includes" [innerHTML]="b"></p>
          </div>
        </div>
        <div class="p-button-w">
          <button class="action-btn">ПОДРОБНЕЕ</button>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- advantages -->
<div class="sect s2"></div>

<!-- instagram -->
<div class="sect s2"></div>

<!-- reviews -->
<div class="sect s2"></div>

<footer>

</footer>
