<header id="header" class="content-w">
  <app-header class="content flex-between flex-center"></app-header>
</header>

<router-outlet></router-outlet>

<footer id="Контакты">
  <div class="footer1 content-w">
    <div class="content">
      <div class="flex-between">
        <div class="fb1 f-block">
          <h3>Контакты</h3>
          <p class="flex-center">
            <svg icon="mail"></svg>
            <a href="mailto:care@pediatrics.by" target="_blank">care@pediatrics.by</a>
          </p>
          <p class="flex-center">
            <svg icon="phone">></svg>
            <a href="tel:+375293795050" target="_blank">+375 (29) 379-50-50</a>
          </p>
          <p class="flex-center">
            <svg icon="phone"></svg>
            <a href="tel:+375333795050" target="_blank">+375 (33) 379-50-50</a>
          </p>
          <p class="flex-center">
            <svg icon="phone"></svg>
            <a href="tel:+375173795050" target="_blank">+375 (17) 379-50-50</a>
          </p>
        </div>
        <div class="fb2 f-block">
          <h3>Режим работы</h3>
          <p class="flex-center">
            <svg icon="clock"></svg>
            <span>пн - пт 09:00 — 21:00</span>
          </p>
          <p class="flex-center">
            <svg icon="clock-15"></svg>
            <span>сб, вс 09:00 — 15:00</span>
          </p>
          <div class="br"></div>
          <p class="flex-center">
            <svg icon="map"></svg>
            <span>г. Минск, ул. Червякова 55 <br>(вход с улицы Урожайная)</span>
          </p>
        </div>
        <div class="fb3 f-block">
          <div class="map">
            <a href="https://yandex.by/maps/org/tsentr_sovremennoy_pediatrii/212895119324/?utm_medium=mapframe&amp;utm_source=maps" style="display:none;visibility:hidden;">Центр Современной Педиатрии</a>
            <a href="https://yandex.by/maps/157/minsk/category/medical_center_clinic/184106108/?utm_medium=mapframe&amp;utm_source=maps" style="display:none;visibility:hidden;">Медцентр, клиника в Минске</a>
            <iframe loading="lazy" src="https://yandex.by/map-widget/v1/-/CCUqEIWV0C" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer2 content-w">
    <div class="content flex-center flex-between">
      <div>
        <img class="icon-main" src="assets/logo/green.svg" alt="logo" height="16" width="18">
      </div>
      <div>
        <p class="comp-name">© 2023, Минск, Центр Современной Педиатрии</p>
        <div class="flex-center">
          <a href="/assets/Лицензия.pdf" target="_blank">Лицензия</a>
          <div class="sep"> | </div>
          <a href="/assets/Публичный_договор.pdf" target="_blank">Публичный договор</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<app-menu *ngIf="isMobile"></app-menu>
<app-phone></app-phone>
<app-event-create></app-event-create>
