<div class="hh flex-center">
  <img class="icon-main" src="/assets/logo/no_txt.svg" alt="logo" height="16" width="18">
  <svg id="logo-t" icon="txt"></svg>
</div>

<div *ngIf="!isMobile && !hide" class="hh flex-center justify-center">
  <a class="nav-link" *ngFor="let m of menu" [href]="m.link" [innerText]="m.name"></a>
</div>

<div class="hh header-right" *ngIf="!hide">
  <div class="header-item call-btn" (click)="eventsService.call()">
    <div class="a-c">
      <svg icon="phone"></svg>
    </div>
  </div>
  <div *ngIf="isMobile" class="header-item menu-btn h" (click)="eventsService.menu()">МЕНЮ</div>
</div>
