.doctor {
  border-radius: var(--doc-gap);
  padding: var(--doc-gap);
  background: #fff;
  box-shadow: 0 0 1rem #12163110;
}

.avatar-wrap {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 .1rem #6d6f793d;
  flex-shrink: 0;
  height: 8rem;
  width: 8rem;
  margin-right: var(--doc-gap);
}

.speciality, .admission-label {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: .4rem;
  opacity: .5;
}

.category {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.name {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin: 0;
  color: var(--txt);
}

.admission {
  padding-top: 2rem;
  height: calc(4rem + 3rem + 2.5rem + 1rem + 4rem);
  padding-bottom: 2rem;
}

.admission-label {
  height: 2rem;
  line-height: 2rem;
}

.days {
  border-radius: .8rem;
  box-shadow: 0 0 0 .1rem #123a1625;
  font-size: 1.2rem;
  background: #123a1608;
  height: 3rem;
  padding: .1rem;
  max-width: 100%;
  overflow: hidden;
  width: fit-content;
}

.day, .time {
  white-space: nowrap;
  padding: 0 .5rem;
  height: 100%;
  line-height: 2.8rem;
  border-radius: .7rem;
  cursor: pointer;
}

.time {
  padding: 0 .8rem;
  border-radius: .8rem;
}

.day.selected {
  background: #123a161c;
}

.day.disabled {
  opacity: .4;
}

.times {
  margin: 1rem calc(0px - var(--doc-gap)) 0;
  padding-left: var(--doc-gap);
  gap: .8rem;
  height: 3rem;
  overflow-x: auto;
  -ms-overflow-style: none;
  -webkit-scrollbar-width: none;
  -moz-scrollbar-width: none;
  -ms-scrollbar-width: none;
  scrollbar-width: none;
}

.time {
  background: #467c9b;
  color: #fff;
  flex-shrink: 0;
  line-height: 3rem;
}
