<div class="doc-wrap">

  <div class="doc">
    <div class="doc-content">
      <div class="justify-center">
        <avatar [data]="d" [size]="getAvatarSize()" class="avatar" borderRadius="1rem"></avatar>
      </div>
      <div class="doc-inf">
        <h3 class="doc-name" [innerText]="getName(d)"></h3>
        <p class="doc-spec">
          <span [innerText]="getSpeciality(d)"></span>
          &#x2022;
          <span *ngIf="d.category" [innerText]="d.category"></span>
        </p>

<!--        <p *ngIf="isMobile" class="text-lines">-->
<!--          <span *ngFor="let l of getDescription(d.description)">&bull; {{l}}</span>-->
<!--        </p>-->
        <ng-container *ngIf="isMobile" [ngTemplateOutlet]="desc"></ng-container>
      </div>
    </div>
    <p *ngIf="!isMobile" class="text-lines">
      <span *ngFor="let l of getDescription(d.description)">&bull; {{l}}</span>
    </p>
    <div *ngIf="nextAvailable?.length">Ближайшая запись {{ nextAvailable }}</div>
    <div class="justify-center btn-wrap">
      <button class="action-btn" (click)="eventsService.requestEvent(d)">
        <svg><use xlink:href="#calendar"></use></svg>
        ЗАПИСАТЬСЯ НА ПРИЁМ
      </button>
    </div>
  </div>

</div>

<ng-template #desc class="text-lines">
  <div *ngFor="let i of getDescription(d.description)">
    <div class="flex">
      <span class="ind">-</span>
      <p [innerHTML]="i"></p>
    </div>
  </div>
</ng-template>
