<div class="d-wrapper">
  <div class="doctor">

    <div class="labels" *ngIf="labels.length">
      <div *ngFor="let l of labels" class="label" [style.color]="l.color" [innerText]="l.text"></div>
    </div>

    <div class="main flex flex-center">
      <div class="avatar-wrap">
        <avatar [data]="_d" [size]="8"></avatar>
      </div>
      <div>
        <p class="speciality" *ngIf="speciality" [innerText]="speciality"></p>
        <h3 class="name" [innerText]="name"></h3>
        <p class="category" *ngIf="category" [innerText]="category"></p>
      </div>
    </div>

    <div class="admission" *ngIf="hasAdmission">
      <div *ngIf="loadingAdmissions" class="loading"></div>
      <div *ngIf="!loadingAdmissions">
        <p class="admission-label">Выберите время приёма для записи онлайн</p>
        <div class="days flex">
          <div
            *ngFor="let d of days"
            class="day"
            [ngClass]="{ selected: isSelected(d) }"
            (click)="selectDay(d)"
            [innerText]="getDayDisplay(d)"
          ></div>
        </div>
        <div class="times flex" *ngIf="selectedDay?.options?.length">
          <div
            *ngFor="let t of selectedDay!.options"
            class="time"
            (click)="handleTimeClick()"
            [innerText]="getTimeDisplay(t)"
          ></div>
        </div>
      </div>
    </div>

    <div class="justify-center btn-wrap">
      <button class="action-btn" (click)="eventsService.requestEvent(_d)">
        <svg><use xlink:href="#calendar"></use></svg>
        ЗАПИСАТЬСЯ НА ПРИЁМ
      </button>
    </div>
  </div>
</div>
