<div #card class="d-wrapper">
  <div class="doctor">

    <div class="labels flex-wrap" *ngIf="labels.length">
      <div *ngFor="let l of labels" class="label" [style.color]="l.color" [style.background-color]="l.bg" [innerText]="l.text"></div>
    </div>

    <div class="doc-info">
      <div>
        <div class="flex flex-center">
          <div class="avatar-wrap">
            <avatar [data]="_d" [size]="8"></avatar>
          </div>
          <div>
            <p class="speciality" *ngIf="speciality" [innerText]="speciality"></p>
            <h3 class="name" [innerText]="name"></h3>
            <p class="category" *ngIf="category" [innerText]="category"></p>
          </div>
        </div>

        <div *ngIf="!isMobile()" class="description" [innerHTML]="_d.description || ''"></div>
      </div>

      <div *ngIf="hasAdmission" class="admission">
        <div *ngIf="loadingAdmissions" class="full loading dark"></div>
        <div *ngIf="!loadingAdmissions">
          <p class="admission-label">Выберите время приёма для записи онлайн</p>
          <div class="days flex">
            <div
              *ngFor="let d of days"
              class="day"
              [ngClass]="{ selected: isSelected(d), disabled: !d.options.length }"
              [tooltip]="d.options.length ? '' : 'У врача все занято'"
              (click)="selectDay(d)"
              [innerText]="getDayDisplay(d)"
            ></div>
          </div>

          <div class="times flex" *ngIf="selectedDay?.options?.length">
            <button
              *ngFor="let t of selectedDay!.options"
              class="time"
              (click)="handleTimeClick(t)"
              [innerText]="getTimeDisplay(t)"
            ></button>
          </div>


          <button class="action-btn time" (click)="eventsService.requestEvent({ doctorId: _d.id })">
            <svg><use xlink:href="#calendar"></use></svg>
            Выбрать другую дату
          </button>

        </div>
      </div>

      <div *ngIf="!hasAdmission" class="admission empty">
        <div class="a-c">
          <img src="assets/empty_calendar.svg">
          <div class="empty"> У врача все занято</div>
        </div>
      </div>
    </div>

  </div>
</div>
