:root {
  --g-ll: #E1C3BC;
  --g-l: #dcb9af;
  --g-2: #acefad;
  --g: #8ad797;
  --max-w: 115rem;
  --header: 6rem;
  --btn-h: 5rem;


  --input-h: 4rem;
  --search-h: 4rem;

  --txt: #232336;
  --text: #200952;
  --button: #200952;
  --footer1-1: #6AD76D1D;
  --footer1: #375d38;
  --footer2: #274829;
  --footer-l: #3d703f;
  --footer-icon: #7d997e;
}
@font-face {
  font-family: art;
  src: url("assets/fonts/Ramona-Bold.ttf") format("truetype");
}

@font-face {
  font-family: acum;
  src: url("assets/fonts/Aqum 2 Classic.otf") format("opentype");
}

* {
  box-sizing: border-box;
  -webkit-touch-callout: none!important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: unset;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.nav-link {
  padding: 0 2rem;
  line-height: var(--header);
  text-transform: uppercase;
  font-weight: 500;
}


input, textarea, select {
  font-family: Poppins,apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
  appearance: none;
  outline: none!important;
  font-size: 1.3rem;
  border: none;
  background-color: unset;
  color: var(--txt);
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  visibility: hidden;
}

textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}



html {
  font-size: 11px;
  scroll-behavior: smooth;
  /*font-size: calc(10px + 0.4vw);*/
}

html {
  font-family:apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  /*height: 100vh;*/
  width: 100vw;
  overflow-x: hidden;
  /*overflow: hidden;*/
  /*position: fixed;*/
  margin: 0;
  padding: 0;
  /*top: 0;*/
  /*left: 0;*/
}

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /*overflow-y: scroll;*/
  /*overscroll-behavior-y: contain;*/
  /*scroll-snap-type: y mandatory;*/
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--txt);
}

.secondary {
  opacity: .5;
}

.text-lg {
  font-size: 1.6rem;
}

.text-sm {
  font-size: 1.1rem;
}

.text-xs {
  font-size: .9rem;
}

.t-b {
  font-size: 1.6rem;
  font-weight: 500;
}

.a-c {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

button {
  appearance: none;
  border: none;
}

p {
  margin: 0;
}

.flex, .flex-center, .flex-col, .flex-between, .justify-center, .flex-wrap {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

.flex-between {
  justify-content: space-between;;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.text-lines {
  white-space: pre-line;
  max-lines: 12;
  display: -webkit-box;
  -webkit-line-clamp: 12; /* number of lines to show */
  line-clamp: 12;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.ind {
  margin-right: .5rem;
}


.w-full, .full {
  width: 100%;
}

.h-full, .full {
  height: 100%;
}

/*__________________ STYLES ______________*/


/* __________ HEADER ___________ */
header, .header {
  height: var(--header);
  width: 100%;
  overflow: hidden;
}

header {
  transition: .3s;
  backdrop-filter: blur(10px);
  background-color: #F6FAF63C;
  position: fixed;
  z-index: 20;
  transform: translateY(-101%);
}

#logo-t {
  transition: color .2s;
  height: 4.5rem;
  max-width: 9rem;
}

header.visible {
  transform: none;
  box-shadow: 0 1px 2rem 0 #2009527d;
}

.header-right {
  display: flex;
  flex-shrink: 0;
}

.call-btn {
  position: relative;
  margin-right: 1.5rem;
}

@keyframes phone-anim {
  0% {transform:rotate(0deg);animation-timing-function:ease-in-out;}
  3% {transform:rotate(20deg);animation-timing-function:ease-in-out;}
  6% {transform:rotate(0deg);animation-timing-function:ease-in-out;}
  9% {transform:rotate(20deg);animation-timing-function:ease-in-out;}
  12% {transform:rotate(0deg);animation-timing-function:linear;}
  100% {transform:rotate(0deg);}
}

.call-btn .a-c {
  width: 2.1rem;
  height: 2.1rem;
}

.call-btn svg {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  animation: phone-anim 5.8s infinite linear;
}

.menu-btn {
  padding: 0 1rem;
}

.icon-main {
  height: 4.5rem;
  width: 5.2rem;
}

.header-item {
  height: 4rem;
  line-height: 4rem;
  min-width: 4rem;
  border-radius: 6px;
  background-color: #fff;
  transition: background .2s;
  /*border: 1px dashed #BBBCC0;*/
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%23BBBCC0' stroke-width='2' stroke-dasharray='3%2c 5' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

.br {
  width: 100%;
  height: .6rem;
}

.h {
  font-family: 'art';
}

.inner-h {
  padding: 3rem 0;
}

.content-w {
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: var(--max-w);
  position: relative;
  padding: 0 1.5rem;
}

section {
  position: relative;
}

section.content-w {
  padding: 3rem 0;
}

.s0 {
  width: 100%;
  background-color: var(--g-ll);
}
.s0 .action-btn {
  box-shadow: 0 10px 20px 0 #2209584d, inset 0 -3px 6px 0 #221e8d5d;
}

.s0 .content-w {
  overflow: hidden;
}

.s1 {
  box-shadow: 0 -10px 0 0 #fff;
  z-index: 2;
}

#back0 {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  overflow: hidden;
}
.heart {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0; left: 0;
  opacity: 0;
  transition: opacity .2s;
  pointer-events: none;
  color: var(--g-l);
  width: 10rem;
  height: 10rem;
}

.l1 {
  background-image: url(assets/feet_green1.png);
}
.l2 {
  background-image: url(assets/feet_green2.png);
}

h1, h2 {
  color: var(--text);
}

h1 {
  margin: 2rem 0 3rem;
  font-size: 4.5rem;
  line-height: 1.1;
}
h2 {
  font-size: 3.5rem;
  line-height: 1.1;
}
h3 {
  font-size: 2rem;
}

@keyframes wave {
  0% {
    transform: translate(0,35%);
  }
  100% {
    transform: translate(-40%,35%);
  }
}

.wave {
  width: 280vw;
  min-width: 200rem;
  position: absolute;
  bottom: 0;
  z-index: 2;
  animation: 20s wave linear infinite;
}

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.welcome_left {
  z-index: 2;
}

.welcome_left p {
  margin: 2rem 0 3.5rem;
}

.baby-wrapper {
  margin-top: 8rem;
  max-width: 100%;
  height: 47rem; width: 35rem;
  position: relative;
}
.baby-wrapper svg {
  height: 150%;
  width: 100%;
  transform: translate(-43%, -40%) rotate(-13deg) scaleY(1.2);
  color: var(--g-l);
}

.baby {
  position: relative;
  height: 100%; width: 100%;

  background-image: url(assets/child/2.webp);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  z-index: 1;
}

.action-btn {
  height: var(--btn-h);
  line-height: var(--btn-h);
  border-radius: var(--btn-h);
  padding: 0 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: var(--button);
  color: #fff;
  text-align: center;
}
.action-btn svg {
  width: 1.6rem;
  height: 1.6rem;
  transform: translateY(-10%);
  margin-right: 1rem;
}


@keyframes load {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}
.loading {
  position: relative;
  pointer-events: none;
  color: transparent!important;
}
.loading::after {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  animation: .5s load linear infinite;
  border: .2rem solid #fff;
  border-top-color: transparent
}

.tooltip {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(1px 1px 10px #3f86603d);
}

@keyframes label1 {
  0%,100% {
    transform: translateY(0) rotate(-37deg);
  }
  47% {
    transform: translateY(1.5rem) rotate(-45deg);
  }
}

@keyframes label2 {
  0%,100% {
    transform: translateY(0) rotate(35deg);
  }
  52% {
    transform: translateY(1rem) rotate(40deg);
  }
}

.t1 {
  bottom: 90%;
  right: 61%;
  width: 7rem;
  height: 7rem;
  background-image: url(assets/label_car.png);
  animation: label1 3.5s infinite ease-in-out;
}

.t2 {
  bottom: 80%;
  left: 73%;
  width: 6rem;
  height: 6rem;
  background-image: url(assets/label_milk.png);
  animation: label2 4s infinite ease-in-out;
}

/*_________________ SERVICES __________________*/
.serv {
  border-radius: 1.5rem;
  background-color: #f8faff;
  /*border: 1px #c9c9c9 dashed;*/
  overflow: hidden;
  transition: height 0.2s linear;
  margin-bottom: 1.5rem;
}

.s-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.s-body {
  padding: 0 1.5rem 1.5rem;
}

.s-head * {
  margin: 0;
}

.s-toggle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  background-color: #8FFFB5;
}

.s-head svg {
  width: 2rem;
  height: 2rem;
  transition: transform .2s;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.serv.opened {
  background-color: #8FFFB5;
}

.serv.opened .s-toggle {
  background-color: #f8faff;
}

.serv.opened svg {
  transform: translate(-50%, -50%) rotate(90deg);
}

.serv p {
  padding-bottom: 1rem;
}

.s-includes {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding-top: .5rem;
}

.prefix {
  margin-right: .5rem;
}


/*_________________ SERVICES __________________*/
.prog {
  border-radius: 2rem;
  /*background-color: #f8faff;*/
  border: 1px #c9c9c9 dashed;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.p-head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  overflow: hidden;
  background-color: #faf2ff;
}

.p-name {
  font-size: 2.4rem;
  text-transform: uppercase;
  margin: .9rem 0 1.6rem;
}

.p-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.p-icon {
  width: 4rem;
  height: 4rem;
  margin: 1.5rem;
  position: relative;
}

@keyframes rot {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.p-icon svg {
  width: 3rem;
  height: 3rem;
  transition: .3s;
  transition-delay: .2s;
  transform: translate(-50%, -50%) scale(.2);
  opacity: 0;
}

.p-icon svg.visible {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.p-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 2px #2009528d dashed;
  animation: 20s rot linear infinite;
}

.price {
  font-size: 2rem;
  font-weight: bold;
}

.p-body {
  height: 20rem;
  overflow: hidden;
  padding: 1.5rem;
}

.p-body-header {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.p-plus {
  width: 1.9rem;
  height: 1.9rem;
  margin-right: 1rem;
}

.p-main {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.p-button-w {
  padding: 1.5rem;
}

.p-button-w button {
  width: 100%;
  display: block;
}

/* ________ ADVANTAGES __________ */
.advantages {
  border-radius: 2rem;
  background-color: #fdd168;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.advantages button {
  margin-top: 2rem;
  font-weight: bold;
  height: fit-content;
  line-height: unset;
  background: #eeae4a;
  border-radius: 1rem;
  padding: 1.2rem 2rem;
  color: #fff;
}

.advantages button:hover {
  background: #cb8a40;
}

.advantages h3 {
  color: #fff;
}

.adv-wrap {
  display: flex;
  align-items: center;
}

.adv-icon {
  position: relative;
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  margin-right: 1.4rem;
  opacity: 0;
  transform: scale(.3);
  transition: .3s;
  transition-delay: .2s;
}

.adv-icon img {
  width: 3rem;
  height: 3rem;
}

.adv-icon.visible {
  opacity: 1;
  transform: none;
}

.adv-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 2px #2009528d dashed;
}

.adv-h {
  margin: 1rem 0 .5rem;
}

.adv-txt {
  margin-bottom: .9rem;
}


footer {
  background-color: var(--footer1);
  color: #fff;
}

.footer1 {
  padding-bottom: 3rem;
  position: relative;
  padding-top: 10rem;
  transition: 1s linear;
}

.footer2 {
  background-color: var(--footer2);
  color: #eeffee99;
  padding: 2rem 0;
  font-size: 1rem;
}

.f-block p {
  /*font-weight: lighter;*/
  color: #fff;
  margin: .7rem 0;
}

.fb1 .fb2 {
  width: calc(28% - 1rem);
}
.fb3 {
  width: calc(44% - 1rem);
}

.contacts-list a {
  white-space: nowrap;
}
.f-block svg {
  color: var(--footer-icon);
  width: 1.4rem;
  height: 1.4rem;
  margin-right: .6rem;
}

.map {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 25rem;
  margin-top: 2.5rem;
  border-radius: .5rem;
  background-color: var(--footer-l);
}
.map a {
  visibility: hidden;
}

iframe {
  border: none;
  border-radius: .5rem;
  position:relative;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.sep {
  margin: 0 .5rem;
}

.comp-name {
  margin-right: 1rem;
}

.logo-h {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  color: #fff583;
}

.footer-h {
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: 500;
}

footer h3 {
  font-size: 1.6rem;
  font-weight: bold;
}

.footer1::before {
  content: "";
  position: absolute;
  width: 120%;
  transform: scaleX(1.4);
  height: 13rem;
  left: 0; top: -1px;
  background-image: url(assets/wave/footer.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 55%;
  background-position-y: 100%;
  transition: 1s linear;
}


.s3 .sect-cont {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  position: relative;
}

.sect-cont::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.s3 .sect-cont>* {
  scroll-snap-align: center;
}

@media screen and (min-width: 900px){
  .s2 .sect-cont {
    display: flex;
  }
  .prog {
    width: 33.3%;
    margin-right: 1.5rem;
  }
  .prog h3 {
    font-size: 2rem;
  }
  .prog:last-child {
    margin-right: 0;
  }
}


@media screen and (min-width: 700px) {
  .p-head {
    height: 18.5rem;
  }
  .price {
    font-size: 1.8rem;
  }
  html {
    font-size: calc(11px + .2vw);
  }
  .content {
    padding: 0 4rem;
  }
  .s1 .content {
    display: flex;
  }
  .s1 h2 {
    white-space: nowrap;
    margin-right: 5rem;
  }
  .welcome_left {
    margin-top: -4rem;
  }
  ::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
  }
  ::-webkit-scrollbar-track {
    background: #aaaaaa3d;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #aaaaaa5d;
    border-radius: 10px;
  }
  .adv-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .adv-wrap {
    margin: 1rem 0;
    width: calc(50% - 2rem);
  }
  .s3 .sect-cont {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
  }
  .doc-wrap {
    aspect-ratio: 1;
  }
  .footer2 {
    font-size: 1.3rem;
  }
}

/*footer, section {*/
/*  scroll-snap-align: start;*/
/*}*/

@media screen and (max-width: 300px){
  .p-icon, #logo-t { display: none }
}

@media screen and (max-width: 600px) {
  footer {
    min-height: calc(100vh - var(--header));
  }
  .footer1 {
    padding-top: 6rem;
  }
  .footer1 .flex-between {
    display: block;
  }
  .footer1::before {
    background-position-x: 85%;
    transform: scaleX(1.1);
  }
  .f-block {
    width: 100%;
    margin: 1rem 0;
  }
  footer.end .footer1 {
    /*box-shadow: inset 0 4rem 0 0 #fff;*/
  }
  footer.end .footer1::before {
    height: 0;
  }

  header.end {
    /*backdrop-filter: blur(0px);*/
    background-color: var(--footer1);
    box-shadow: none;
  }
  .end #logo-t {
    color: #fff;
  }
  .end .header-item {
    background: var(--footer-l);
    color: #fff;
  }
}
