.calendar {
  background-color: var(--light-color);
  z-index: 1;
  border-radius: .2rem;
  box-shadow: 0 .4rem 1rem var(--shadow-2), 0 .2rem .4rem -2px var(--shadow-3);

}

.date {
  text-align: center;
  border-radius: 50%;
}

.calendar-days {
  text-align: center;
  box-shadow: 0 1px 0 0 var(--border-7), 0 -1px 0 0 var(--border-7);
}

.today {
  background-color: #eeb16b;
  color: #fff;
}

.selected {
  background-color: var(--accent-a);
  color: var(--light-color);
}

.another {
  opacity: .5;
}
