<div class="relative" #el (click)="select()">
  <ng-input *ngIf="!isInline"
    [type]="'text'"
    [label]="label"
    [value]="display"
    [error]="error"
    [disabled]="true"
  ></ng-input>
  <inline-input *ngIf="isInline"
     [type]="'text'"
     [length]="10"
     [placeholder]="label"
     [size]="lineSize"
     [value]="display"
     [error]="error"
     [disabled]="true"
  ></inline-input>
</div>

<div *ngIf="isSelecting" class="calendar" [style]="style" [style.width]="dayW * 7 + 'rem'">
  <div class="calendar-head w-full flex items-center justify-between" [style.height]="dayW + 'rem'">
    <div (click)="loadPage(selectedYear, selectedMonth - 1)"><</div>
    <div [innerText]="months[selectedMonth]"></div>
    <div (click)="loadPage(selectedYear, selectedMonth + 1)">></div>
  </div>
  <div class="calendar-days w-full flex items-center" [style.height]="dayH + 'rem'">
    <div *ngFor="let d of this.columns" [style.width]="dayW + 'rem'">{{d.name}}</div>
  </div>
  <div class="calendar-month py-4 w-full flex">
    <div class="column cursor-pointer" *ngFor="let c of this.columns">
      <div class="flex-center" (click)="afterSelect(d)"
           [ngStyle]="{width: dayW + 'rem', height: dayH + 'rem'}"
           *ngFor="let d of c.days">
        <div class="date text-sm"
             [innerText]="d.date"
             [ngStyle]="{width: dayH * 0.8 + 'rem', height: dayH * 0.8 + 'rem', lineHeight: dayH * 0.8 + 'rem'}"
             [ngClass]="{
              selected: d.isSelected,
              today: d.isToday,
              another: d.month != this.selectedMonth
           }">
        </div>
      </div>
    </div>
  </div>
</div>
