.calendar {
  cursor: default;
  position: relative;
}

.loading-days:after {
  border-color: var(--shadow-5);
  border-top-color: transparent;
}

.column {
  width: 14.286%;
}

.date {
  text-align: center;
  aspect-ratio: 1;
  opacity: .8;
}

.date>div {
  z-index: 1;
}

.today {
  position: relative;
  color: #5bab60;
  opacity: 1;
}
.today::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  width: 70%;
  height: 70%;
  box-shadow: 0 0 0 .2rem #5bab607d;
}

.canSelect {
  cursor: pointer;
  opacity: 1;
  position: relative;
  transition: color .3s;
}

.canSelect::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: .4rem;
  height: .4rem;
  background-color: #5bab60;
  transition: .3s;
}

.selected, .selected:hover {
  color: #fff;
}
.selected::before {
  color: #fff;
  top: 50%;
  width: 70%;
  height: 70%;
  border-radius: 1rem;
}

.date-h {
  opacity: .5;
}

.calendar-days {
  text-align: center;
  box-shadow: 0 1px 0 0 var(--border-7), 0 -1px 0 0 var(--border-7);
}

.another {
  opacity: .5;
}

.no-data {
  z-index: 2;
  max-width: 80%;
  text-align: center;
  top: 60%;
}
