<div *ngIf="isVisible" class="full pop-up-wrap">
  <div [style.opacity]="isOpened ? 1 : 0" class="full overlay"></div>
  <div class="a-c pop-up" [ngClass]="getPopUpClass()">

    <div class="p-inner full">

      <div class="p-header flex-center flex-between">
        <h3 class="h">Запись на приём</h3>
        <svg class="p-cross" icon="cross" (click)="close()"></svg>
      </div>

      <div class="pop-body">
        <ng-container [ngTemplateOutlet]="step == 0 ? doctorTemplate : step == 1 ? ticketTemplate : clientTemplate"></ng-container>
      </div>

      <div class="p-footer flex-center flex-between">
        <button *ngIf="step > 0" class="btn-cancel" (click)="back()">Назад</button>
        <button *ngIf="step < 2" class="action-btn" [ngClass]="{loading: isLoadingStep, disabled: isDisabled()}" (click)="next()">Далее</button>
        <button *ngIf="step == 2" class="action-btn" [ngClass]="{loading: isLoadingSave, disabled: isDisabled()}" (click)="save()">Записаться</button>
      </div>

    </div>

  </div>
</div>


<ng-template #doctorTemplate>
  <div class="step">
    <h3 class="h" style="opacity:.8">Выберите врача</h3>

    <div>
      <search-input
        type="text"
        label="Специализация"
        [required]='false'
        (onSelect)="handleRoleSelect($event)"
        [dataList]="allRoles"
        [(value)]="doctorRole"
        [canType]="false"
      ></search-input>
      <search-input
        [type]="'text'"
        [label]="'Врач'"
        [dataList]="doctors"
        [withPhotos]="true"
        [(value)]="doctorName"
        (onSelect)="handleDoctorSelect($event)"
        [canType]="false"
      ></search-input>
    </div>
  </div>
</ng-template>


<ng-template #ticketTemplate>
  <div class="w-full date-wrapper">
    <div>
      <select-date class="w-full" *ngIf="isOpened"
                   [data]="days"
                   [canSelect]="!!doctor"
                   [loading]="loadingDays"
                   (onChangeMonth)="handleMonthChange($event)"
                   (onSelect)="handleDaySelect($event)"
      ></select-date>
    </div>
    <div *ngIf="!!day" class="time-list">
      <div class="time" *ngFor="let t of day.intervals; index as i"
           (click)="selectTime(i)"
           [ngClass]="i === selectedInterval ? 's-i' : ''"
           [innerText]="getStartString(t)"
      ></div>
    </div>
  </div>
</ng-template>


<ng-template #clientTemplate>
  <div class="w-[50%] pr-4">
    <div class="ticket-info">
        <div *ngIf="!!doctor">
          <h4 style="margin-top:0">Врач:</h4>
          <div class="flex-center">
            <avatar [data]="doctor" [size]="3.5" style="margin-right: 1rem"></avatar>
            <div>
              <div class="text-lg" [innerText]="doctor.name"></div>
              <div class="text-sm" style="opacity:.7" *ngIf="!!doctor.speciality" [innerText]="doctor.speciality"></div>
            </div>
          </div>
        </div>
        <div>
          <h4>Дата и время:</h4>
          <div [innerText]="getFullEventTime()"></div>
        </div>
        <div>
          <h4>Адресс:</h4>
          <div>г. Минск, ул. Червякова 55 (вход с улицы Урожайная)</div>
        </div>
        <div>
          <h4 style="margin-top: 3rem">Контактная информация:</h4>
          <ng-input
            type="phone"
            label="Телефон"
            next="ФИО пациента"
            [(value)]="client.primaryPhone"
          ></ng-input>
          <search-input
            type="text"
            label="ФИО пациента"
            [(value)]="client.name"
          ></search-input>
        </div>
      </div>
  </div>

</ng-template>
