<div *ngIf="isVisible" class="fixed full overflow-y-auto z-10" style="top:0;left:0;padding:3rem 0">
  <div [style.opacity]="isFullScreen ? 1 : 0" class="overlay"></div>
  <div class="entity-card max z-10"
       [ngClass]="(isFullScreen ? 'card-full ' : '') + (isFinished ? 'open' : '')"
       [style]="getRectStyle()" style="margin:auto"
  >
    <div class="card-inner transparent">
      <div class="m-header flex items-center justify-between">
        <div>Новая запись</div>
        <svg class="h-6 w-6 cursor-pointer opacity-50" icon="cross" (click)="close()"></svg>
      </div>

      <div class="m-body relative flex">

        <div class="w-[50%] pr-4">
          <div class="m-card">
            <div class="card-h">Клиент</div>
            <search-input
              type="phone"
              label="Телефон"
              next="ФИО"
              [(value)]="client.primaryPhone"
            ></search-input>
            <search-input
              type="text"
              label="ФИО"
              [(value)]="client.name"
            ></search-input>
          </div>
          <div class="m-card">
            <div class="card-h flex">
              <div>Врач</div>
            </div>

            <div>
              <search-input
                type="text"
                label="Специализация"
                [required]='false'
                (onSelect)="handleRoleSelect($event)"
                [dataList]="allRoles"
                [(value)]="doctorRole"
              ></search-input>
              <search-input
                [type]="'text'"
                [label]="'Врач'"
                [dataList]="doctors"
                [withPhotos]="true"
                [(value)]="doctorName"
                (onSelect)="handleDoctorSelect($event)"
                (valueChange)="searchDoctor($event)"
              ></search-input>
            </div>
          </div>
        </div>

        <div class="h-full m-card right">
          <ng-container [ngTemplateOutlet]="single"></ng-container>
        </div>

      </div>

      <div class="m-footer flex justify-end items-center">
        <div class="btn btn-cancel" (click)="close()">Отмена</div>
        <div class="btn ml-4 btn-primary" [ngClass]="{loading: isLoading, disabled: isDisabled()}" (click)="save()">Записаться</div>
      </div>

    </div>
  </div>
</div>


<ng-template #single>
  <div class="w-full date-wrapper" [style]="getDateStyle()">
    <div>
      <div class="card-h text-center" [style.opacity]="!!doctor ? 1 : 0">Выберите день</div>
      <select-date class="w-full" *ngIf="isFinished"
                   [data]="days"
                   [canSelect]="!!doctor"
                   [loading]="loadingDays"
                   (onSelect)="handleDaySelect($event)"
      ></select-date>
    </div>
    <div>
      <div *ngIf="!!day" class="flex flex-col h-full">
        <div class="card-h flex items-center justify-center flex-shrink-0">
          <div class="cursor-pointer mr-4" tooltip="Выбрать другой день" [zIndex]="10" (click)="clearDate()">
            <svg icon="back" class="h-4 w-4"></svg>
          </div>
          <div [innerText]="day.display"></div>
        </div>

        <div class="time-options h-full" id="time-options">
          <div class="time" *ngFor="let t of day.intervals; index as i"
               (click)="selectTime(i)" [ngClass]="i === selectedInterval ? 's-i' : ''">
            {{getIntervalString(t)}}
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-template>
